.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    height: 20vh;
    width: 80%;
    margin-top: 25px;
    animation: opacity;
    animation-duration: 1.5s;
}
.Header img{
    width: 80px;
    height: 80px;
    margin: 5px;
}
.Header h1{
    margin: 0;
    padding: 0;
    color: #4c4c4c;
    font-size: 28px;
}
.Script{
    color: #f5e02f;
}
@media screen and (max-width: 486px) {
    .Header h1{
        font-size: 23px;
        text-align: center;
    }
    .Header{
        height: 15vh;
    }

}
@keyframes opacity{
    from{opacity: 0;}
    to{opacity: 1;}
}