.Hint{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #4c4c4c;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hint i{
    font-size: 30px;
    content: "\f059";
    color: #f7e018;
}

.HintDescription{
    width: 250px;
    height: 200px;
    background: #4c4c4c;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.HintDescription p{
    text-align: justify;
    text-align-last: center;
    font-size: 13px;
    padding: 15px;
    box-sizing: border-box;
    animation: opacity;
    animation-duration: 1.25s;
    margin:0;
}
.HintDescription button{
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: #f7e018;
}
@keyframes opacity{
    from{opacity: 0;}
    to{opacity: 1;}
}